################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/log
/tools/*
!/tools/cross-build.sh
!/tools/argpass.py
/venv